
<h3>Experience</h3>
<div class="expericence">
<!-- <h4>From: </h4> -->
<!-- <input type="number" name="test_name" min="0" oninput="validity.valid||(value='');"> -->
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
      Relevant Experience
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Fresher</a></li>
      <li><a class="dropdown-item" href="#">1-2 Years</a></li>
      <li><a class="dropdown-item" href="#">2-3 Years</a></li>
      <li><a class="dropdown-item" href="#">3-4 Years</a></li>
      <li><a class="dropdown-item" href="#">5 or more than 5 Years</a></li>
    </ul>
  </div>


</div>
<br>
<h2>Current Annual CTC:</h2>
<!-- <form [formGroup]="ctcForm"> -->
<div>
    
    <input type="number" inputmode="decimal" min="0"  oninput="validity.valid"><h5>(in Lakhs)</h5>
    <!-- <input type="number" inputmode="decimal" min="0"  oninput="validity.valid||(value='^[0-9]*$');"><h5>(in Lakhs)</h5> -->
    <!-- <input type="number" inputmode="decimal" min="0" formControlName="annualCTC" oninput="validity.valid;"><h5>(in Lakhs)</h5> -->
</div>
<!-- </form> -->
<h2>Expected Annual CTC:</h2>
<!-- <form [formGroup]="ctcForm"> -->
<div>
    
    <input type="number" inputmode="decimal" min="0"  oninput="validity.valid"><h5>(in Lakhs)</h5>
    <!-- <input type="number" inputmode="decimal" min="0"  oninput="validity.valid||(value='^[0-9]*$');"><h5>(in Lakhs)</h5> -->
    <!-- <input type="number" inputmode="decimal" min="0" formControlName="annualCTC" oninput="validity.valid;"><h5>(in Lakhs)</h5> -->
</div>
<!-- </form> -->


<br>
<div>
<h2>Current Notice Period:</h2>
<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
      Current Notice Period
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">0-15 Days</a></li>
      <li><a class="dropdown-item" href="#">1 Month</a></li>
      <li><a class="dropdown-item" href="#">2 Months</a></li>
      <li><a class="dropdown-item" href="#">3 Months</a></li>
      <li><a class="dropdown-item" href="#">4 Months</a></li>
      <li><a class="dropdown-item" href="#">5 or more than 5 Months</a></li>
    </ul>

</div>

<br>
<h2>Positions Applied For:</h2>
<div>
<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
      Current Notice Period
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Developer
        <ol>Junior Developer</ol>
        <ol>Senior Developer</ol>
      </a></li>
      <li><a class="dropdown-item" href="#">Quality Annalyst(QA)
        <ol>Junior QA</ol>
        <ol>Senior QA</ol>
      </a></li>
      <li><a class="dropdown-item" href="#">HR</a></li>
      <li><a class="dropdown-item" href="#">Project Manager</a></li>
    </ul>
</div>

<br>
<h2>Comfortable to work from:</h2>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">In-office(on-site) Work</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Only Remote</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
    <label class="form-check-label" for="inlineRadio3">Hybrid</label>
  </div>


  <div class="slider">
    <label for="fader">Rate your communication skills: </label>
    <input type="range" min="0" max="100" value="20" id="fader" 
    step="20" list="volsettings">
    <datalist id="volsettings">
    
    <option>0</option>
    <option>20</option>
    <option>40</option>
    <option>60</option>
    <option>80</option>
    <option>100</option>
    </datalist>
    </div>